<div id="hdls-add-user-role">
  <div class="hdls-add-user-section" *ngIf="!isDeleteUserDetails">
    <h3 class="hdls-add-user-heading">{{isEditUserDetails ? 'Edit User':'Add User'}}</h3>
    <form [formGroup]="addUserGroup" novalidate #myform="ngForm">
      <div class="hdls-user-group">
        <div class="hdls-user-fields">
          <div class="hdls-user-container">
            <mat-form-field class="hdls-form-field" appearance="fill">
              <mat-label>User Name</mat-label>
              <input
                matInput
                formControlName="username"
                class="hdls-form-input"
                placeholder="User Name"
                (keyup)="checkForAvailable()"
                [readonly]="isEditUserDetails==true"
                required
              />
             
            </mat-form-field>
            <p class="hdls-error" *ngIf="userAlreadyExist==true && isEditUserDetails==false">
            This username already exist
            </p>
          </div>
          
          <mat-form-field class="hdls-form-field" appearance="fill">
            <mat-label>User Email</mat-label>
            <input
              matInput
              formControlName="email"
              class="hdls-form-input"
              placeholder="User Email"
              required
            />
<!-- 
            <p
              class="hdls-error"
              *ngIf="
                addUserGroup.controls.userEmail.invalid &&
                (addUserGroup.controls.userEmail.dirty ||
                  addUserGroup.controls.userEmail.touched)
              "
            >
              Please fill the email
            </p> -->
          </mat-form-field>
        </div>
        <div class="hdls-user-fields">
          <mat-form-field class="hdls-form-field" appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="{{togglePassword ? 'text':'password'}}"
              formControlName="password"
              class="hdls-form-input"
              name="totalrooms"
              placeholder="Password"
              required
            />
            <mat-icon matSuffix (click)="viewPassword()">visibility</mat-icon>
          </mat-form-field>
          <mat-form-field class="hdls-form-field" appearance="fill">
            <mat-label>Hotel</mat-label>
            <mat-select class="hdls-form-select" formControlName="hotelId">
              <mat-option *ngFor="let hotels of hotelDetails" [key]="hotels.hotel_id" [value]="hotels.hotel_id">{{hotels.hotel_name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="hdls-user-fields">
          <mat-form-field class="hdls-form-field" appearance="fill">
            <mat-label>Features</mat-label>
            <mat-select class="hdls-form-select" formControlName="available_features" multiple>
              <mat-option name="membership" value="membership">Membership</mat-option>
              <mat-option name="reports" value="reports">Reports</mat-option>
              <mat-option name="bookings" value="bookings">Bookings</mat-option>
              <mat-option name="points" value="points">Points</mat-option>
              <mat-option name="inventory" value="inventory">Inventory</mat-option>
              <mat-option name="facility" value="facility">Facility</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div></div>
      </div>
      <div class="hdls-user-button">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button (click)="saveUser()" [disabled]="userAlreadyExist">{{isEditUserDetails ? 'Edit User':'Add User'}}</button>
      </div>
    </form>
  </div>
  <div class="hdls-add-user-section" *ngIf="isDeleteUserDetails">
    <h3 class="hdls-add-user-heading">Delete user confirmation</h3>
      <div>
        <p>Are you sure you want to delete <strong>{{data?.userDetails?.username}}</strong></p>
      </div>
      <div class="hdls-user-button">
        <button mat-raised-button mat-dialog-close color="primary">Cancel</button>
        <button mat-raised-button (click)="deleteUser()" color="secondary">Yes</button>
      </div>
  </div>
</div>
