@import '../../../../theme/vars.scss';
#hdls-newmembership-container{
    margin-left: 40px;
    margin-top: 40px;
    .new-membership-form-container{
        width: 60%;
        mat-form-field{
            width: 100%;
        }
    }
    .hdls-cancel-btn{
        margin-right:10px;
        color: $primary-background-color;
        border: 1px solid $primary-background-color;
        box-shadow: none;
    }
    .coverImageContainer{
        margin-bottom: 40px;
        .myCoverImage{
            width: 100px;
            height: 100px;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-top: 20px;
            position: relative;
            text-align: center;
            img{
              width: 100%;
            }
            .clearImageContainer{
                position: absolute;
                bottom: 0px;
                left: 20px;
            }
          }   
    }
       
}