@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

#parent-container{
    background: rgb(50,50,50);
    background: radial-gradient(circle, rgba(50,50,50,0.654499299719888) 0%, rgba(50,50,50,1) 74%, rgba(0,0,0,1) 100%);
    width: 100vw;
    height: 100vh;
}
.banner-txt{
    font-family: "Jost", sans-serif;
    font-size: 68px;
    font-weight: 400;
    color: #fff;
    line-height: 85px;
}
#home-page-container{
    padding-left: 40px;
}
.signup-btn {
    font-family: "Jost", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 220px;
    border-radius: 19px;
    font-size: 22px;
    color: #000;
    font-weight: 400;
    border: none;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
    margin-left: 40px;
}
.banner-detail-container{
    margin-top: 80px;
    padding-left: 8vw;
    display: flex;
    gap: 60px;
    flex-direction: column;
    position: relative;
}
.signup-banner{
    background: url('../../../../assets/images/signup-banner.png');
    width: 60vw;
    height: 50vw;
    background-size: 100%;
    position: fixed;
    right: -18vw;
    bottom: -14vw;
}
.arrow-patch{
    background: url('../../../../assets/images/arrow.svg');
    width: 90px;
    height: 127px;
    background-size: 100%;
    position: absolute;
    bottom: 18px;
    left: 450px;
}