

#parent-container{
    background: rgb(50,50,50);
    background: radial-gradient(circle, rgba(50,50,50,0.654499299719888) 0%, rgba(50,50,50,1) 74%, rgba(0,0,0,1) 100%);
    width: 100vw;
    height: 100vh;
}
.banner-txt{
    font-family: "Jost", sans-serif;
    font-size: 68px;
    font-weight: 400;
    color: #fff;
    line-height: 85px;
}
#home-page-container{
    padding-left: 40px;
}
.signup-btn {
    font-family: "Jost", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 220px;
    border-radius: 19px;
    font-size: 22px;
    color: #000;
    font-weight: 400;
    border: none;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
    // margin-left: 40px;
}
.banner-detail-container{
    margin-top: 30px;
    padding-left: 8vw;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.signup-banner{
    background: url('../../../../assets/images/web-banner.svg');
    width: 30vw;
    height: 23vw;
    background-size: 100%;
    position: absolute;
    right: -1vw;
    bottom: 0vw;
}
.terms-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    font-family: 'Kanit',sans-serif;
    width: 50vw;
    height: calc(100vh - 300px);
    overflow-y: auto;
    ul{
        margin-top: 0;
    }
}

@media only screen and (max-width: 480px) {
    #parent-container {
        #home-page-container {
            .banner-detail-container {
                margin-top: 0px;
                padding-left: 0vw;
                h3.banner-txt {
                    font-size: 32px;
                    margin-bottom: 0;
                }
                .terms-container {
                    width: 85vw;
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    #parent-container {
        #home-page-container {
            .banner-detail-container {
                margin-top: 0px;
                padding-left: 0vw;
                h3.banner-txt {
                    font-size: 42px;
                    margin-bottom: 0;
                }
                .terms-container {
                    width: 85vw;
                }
            }
        }
    }
}