#hdls-newmembership-container{
    margin-left: 40px;
    margin-top: 40px;
    .new-membership-form-container{
        width: 60%;
        mat-form-field{
            width: 100%;

        }
    }
    .hdls-nxt-btn{
        margin-right:10px;
    }
    .text-bold{
        font-weight: 600;
    }
    .submitButtonGroup{
        margin-top: 20px;
        margin-bottom: 40px;
    }
}

.myCoverImage{
  width: 80px;
  height: 80px;
  img{
    width: 100%;
  }
}
