<section id="hdls-membership-container">
    <div class="search-section">
      <div class="add-product">
        <form class="hdls-search-field">
          <input
            type="text"
            [(ngModel)]="userSearch"
            name="userSearch"
            matInput
            (keyup)="applyFilter($event)" 
            placeholder="Search by users"
            #input
          />
          <span>
            <a href="#">
              <img src="../../../assets/images/search.png" alt="Search" />
            </a>
          </span>
        </form>
        <p class="add-button"  (click)="openAddUserModal($event)">
            <span>Add User</span>
            <img src="../../../assets/images/plus.png" alt="Add membership" />
        </p>
      </div>
      <!-- <div class="download-section">
        <app-hdls-date-range
          (getDateRange)="getDateRange($event)"
        ></app-hdls-date-range>
        <div class="download-button">
          <a href="#"
            ><img src="../../../assets/images/download.png" alt="download"
          /></a>
        </div>
      </div> -->
    </div>
    <div id="hdls-membership-list">
        
          
      <div class="hdls-product-list-section">
        <!-- <app-search-field></app-search-field> -->
        <table
          mat-table
          class="hdls-product-table"
          [dataSource]="dataSource"
          matTableExporter
        >
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              S.No
            </th>
            <td mat-cell *matCellDef="let element; let i=index">
              <p *ngIf="!element.isLoading">
                {{ (paginator.pageIndex * paginator.pageSize)+(i+1)}}
              </p>
              <div *ngIf="element.isLoading" class="loading-data"></div>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Username
            </th>
            <td mat-cell *matCellDef="let element; let i=index">
              <p *ngIf="!element.isLoading">
                {{ element.username || '--' }}
              </p>
              <div *ngIf="element.isLoading" class="loading-data"></div>
            </td>
          </ng-container>

          
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Email
            </th>
            <td mat-cell *matCellDef="let element; let i=index">
              <p *ngIf="!element.isLoading">
                {{ (element.email) || '--'}}
              </p>
              <div *ngIf="element.isLoading" class="loading-data"></div>
            </td>
          </ng-container>
          <ng-container matColumnDef="available_features">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Permissions
            </th>
            <td mat-cell *matCellDef="let element; let i=index">
              <p *ngIf="!element.isLoading">
                {{ element?.permissions?.available_features | permissions | uppercase}}
              </p>
              <div *ngIf="element.isLoading" class="loading-data"></div>
            </td>
          </ng-container>
          <ng-container matColumnDef="hotel_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Hotel ID
            </th>
            <td mat-cell *matCellDef="let element; let i=index">
              <p *ngIf="!element.isLoading">
                {{ (element?.permissions?.hotelId) || '--'}}
              </p>
              <div *ngIf="element.isLoading" class="loading-data"></div>
            </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Action
            </th>
            <td mat-cell *matCellDef="let element; let i=index">
              <div *ngIf="!element.isLoading">
                <div class="action-container">
                <button mat-mini-fab color="primary" (click)="openEditUserModal(element)">
                  <mat-icon class="icon">edit</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" (click)="openDeleteUserModal(element)">
                  <mat-icon class="icon">delete</mat-icon>
                </button>
                </div>
              </div>
              <div *ngIf="element.isLoading" class="loading-data"></div>
            </td>
          </ng-container>
          
          <!-- <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Created
            </th>
            <td mat-cell *matCellDef="let element; let i=index">
              <p *ngIf="!element.isLoading">
                {{ (element.created_at | date:'dd-MMM-yyyy')|| '--'}}
              </p>
              <div *ngIf="element.isLoading" class="loading-data"></div>
            </td>
          </ng-container> -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            class="hdls-table-row"
          ></tr>
        </table>
        <table>
          <tr *ngIf="!dataSource?.data">
            <td class="hdls-no-records-detail">No Records Found!</td>
          </tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
          (page)="pageChanged($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </section>
  