<section id="hdls-membership-container">
  <section id="hdls-points-container">
    <div class="loading-container" *ngIf="isLoading==true">
      <div class="loader"></div>
    </div>
      <div class="" *ngIf="pointDetails.length>0">
        <mat-card class="hdls-points-earning-card card-container">
          <mat-card-header>
            <mat-card-title
              ><h1>{{ pointDetails[8]?.pointsdesc}}</h1></mat-card-title>
            <!-- <mat-card-subtitle>{{ point.pointsdesc }}</mat-card-subtitle> -->
          </mat-card-header>
          <div class="card-image-detail">
            <img src="../../../assets/images/commission.png" alt="commission" />
          </div>
          <mat-card-content class="card-content-container">
            <form [formGroup]="editPointDetailsForm" >
              <div class="hdls-points-form-feilds">
                
                <div class="point-desc">For Every transactions  <br>=<br> <span *ngIf="!pointDetails[8].edit" > {{ pointDetails[8]?.point_multiplier }}</span>%</div>
                <input
                  *ngIf="pointDetails[8].edit"
                  type="number"
                  matInput
                  formControlName="point_multiplier"
                  min="1" max="99"
                  maxlength="2"
                />
              </div>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>
              <mat-icon (click)="editDetails($event, 8)">edit</mat-icon>
            </button>
            <button mat-button>
              <mat-icon (click)="updateDetails($event, 8)">save</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    <div class="commission-report-container">
      <div class="hdls-profit-list-section">
        <!-- <app-search-field></app-search-field> -->
         <div class="legends"> Units calculated in RM</div>
        <table
          mat-table
          class="hdls-product-table"
          [dataSource]="dataSource"
          matTableExporter
        >
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="my-date-header">Date</th>
            <td mat-cell *matCellDef="let element">
              <p *ngIf="!element.loading" class="my-date-details">
                {{ element.created_at | date:'MMM dd, yyyy hh:mm a' }}
              </p>
              <div *ngIf="element.loading" class="loading-data"></div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction <br> Type</th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="!element.loading">
                {{element.transaction_master.transaction_name}}
              </div>
              <div *ngIf="element.loading" class="loading-data"></div>
            </td>
          </ng-container>
  
          
          <ng-container matColumnDef="totalamount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount received</th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="!element.loading">
                {{ element.amount }}
              </div>
              <div *ngIf="element.loading" class="loading-data"></div>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="mediancommission">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Median commission ({{ pointDetails[8]?.point_multiplier }}%)
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.medienwork }}
            </td>
          </ng-container>
          <ng-container matColumnDef="hoteldebit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hotel spend for </th>
            <td mat-cell *matCellDef="let element">
              {{element.hotel_debit}}
            </td>
          </ng-container>
          <ng-container matColumnDef="hotelcredit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hotel Credit</th>
            <td mat-cell *matCellDef="let element">
              {{element.hotel_credit}}
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns;"
            class="hdls-table-row"
          ></tr>
        </table>
        <table>
          <tr *ngIf="!dataSource.data.length">
            <td class="hdls-no-records-detail">No Records Found!</td>
          </tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
  
        >
        </mat-paginator>
    </div>
    </div>
  </section>
  