@import "../../../theme/vars.scss";
#hdls-points-container {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  .hdls-points-form-feilds {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // gap: 10px;
    // padding: 5px;
  }
  .card-image-detail{
    width: 200px;
    img{
      width: 100%;
    }
  }
  .card-container{
    text-align: center;
    background: #ff95c1;
    color: #555;
    padding:20px 0px;
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card-image-detail{
      width: 100px;
      padding: 40px;
      border: 2px solid #ccc;
      border-radius: 50%;
      height: 100px;
      background: #fff;
      box-shadow: 2px 2px 10px -4px #000000;
    }
    .mat-card-header{
      display: block;
    }
    .card-content-container{
      margin-top: 20px;
    }
    .point-desc{
      font-size: 24px;
      // font-family: 'Times New Roman';
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      line-height: 40px;
    }
  }
}

// mat-card {
//   box-shadow: 0px 1px 5px 0px #ccc;
//   height: 300px;
//   min-width: 205px;
//   max-width: 205px;
// }

mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-container{
  width: 100vw;
    height: 100vh;
    padding-left: 50vw;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    z-index: 99999;
    padding-top: 50vh;
}
.loader {
  --s: 25px;
  --g :5px;  
  
  width: calc(3*(1.353*var(--s) + var(--g)));
  aspect-ratio: 3;
  background:
    linear-gradient(#ff1818 0 0) left/33% 100% no-repeat,
    conic-gradient(from -90deg at var(--s) calc(0.353*var(--s)),
      #fff 135deg,#666 0 270deg,#aaa 0); 
  background-blend-mode: multiply;
  --_m:
    linear-gradient(to bottom right,
       #0000 calc(0.25*var(--s)),#000 0 calc(100% - calc(0.25*var(--s)) - 1.414*var(--g)),#0000 0),
    conic-gradient(from -90deg at right var(--g) bottom var(--g),#000 90deg,#0000 0);
  -webkit-mask: var(--_m);
          mask: var(--_m);
  background-size:   calc(100%/3) 100%;
  -webkit-mask-size: calc(100%/3) 100%;
          mask-size: calc(100%/3) 100%;
  -webkit-mask-composite: source-in;
          mask-composite: intersect;
  animation: l7 steps(3) 1.5s infinite;
}
@keyframes l7 {
  to {background-position: 150% 0%}
}
input[type='number']{
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}
.my-date-header {
  width: 150px;
}
.my-date-details{
  line-height: 30px;
}
.legends {
  margin-bottom: 0px;
  font-weight: 700;
  text-align: right;
  padding-right: 10px;
}