@import "../../../../theme/vars.scss";

.hdls-delete-dialog {
  h3 {
    text-align: center;
  }
  .hdls-reason {
    width: 100%;
    text-align: center;
    textarea {
      width: 100%;
    }
  }
}
