@import '../../../../theme/vars.scss';

.hdls-delete-dialog {
  min-height: 400px;
  width: 400px;
  padding-left: 0px;
  h3 {
    text-align: center;
  }
  .hdls-close-icon {
    float: right;
    border: none;
    background-color: #fff;
    cursor: pointer;
    margin-right: 30px;
  }
  .hdls-popup-content {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    img{
        width: 100%;
    }
  }
}
