@import '../../../../theme/vars.scss';
#hdls-newmembership-container{
    margin-left: 40px;
    margin-top: 40px;
    .new-membership-form-container{
        width: 60%;
        mat-form-field{
            width: 100%;
        }
    }
    .hdls-cancel-btn{
        margin-right:10px;
        color: $primary-background-color;
        border: 1px solid $primary-background-color;
        box-shadow: none;
    }
    .coverImageContainer{
        margin-bottom: 20px;
    }
    .myCoverImage{
        width: 80px;
        img{
          width: 100%;
          margin-top: 5px;
        }
      }
      .croppedImageContainer{
        width: 200px;
        border: 2px solid #333;
        border-radius: 10px;
        padding: 4px;
        img{
            width: 100%;
        }
      }

}