@import "../../../../theme/vars.scss";
.sidenav{
  width: 200px;
  min-height: 100%;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  .layout{
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: medium;
    flex-grow: 1;
    margin-top: 10px;
    // background: $menu-item-bg;
    margin-top: 10px;
    color: $titleLogo;
    width: 100%;
    &:hover{
      background: $menu-item-hover;
      color: #fff;
    }
  }
  .layout.active {
    background: $menu-item-hover;
    color: #fff;
  }
  mat-icon {
    margin: 0 15px 0 5px;
  }
  .expansionPanel{
    width: 100%;
    // margin-top: 15px;
  }
  mat-expansion-panel{
    width: 100%;
    background: #fff;
    box-shadow: none;
    .mat-expansion-panel-header{
      padding:0px 16px;
    }
  }
}

.nav-sub-item {
  cursor: pointer;
  padding: 10px;
  padding-left: 15%;
  font-size: medium;
}

.hidden {
  display: flex;
  flex-direction: column;
  // .nav-sub-item:hover {
  //   background: #e91e63;
  //   color: white;
  // }
}

.hideMenu {
  display: none;
}
