// src/theme.scss

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap");

// primary, accent and warn palettes

// $HDLS-Admin-theme-primary: mat-palette($mat-indigo);
$HDLS-Admin-theme-primary: (
  50: #F78C8C,
  100: #F78C8C,
  200: #F78C8C,
  300: #F78C8C,
  400: #F78C8C,
  500: #F78C8C,
  600: #F78C8C,
  700: #F78C8C,
  800: #F78C8C,
  900: #F78C8C,
  A100: #F78C8C,
  A200: #F78C8C,
  A400: #F78C8C,
  A700: #F78C8C,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
$HDLS-Admin-theme-accent: mat-palette($mat-pink, A200, A100, A400);
$HDLS-Admin-theme-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$HDLS-Admin-theme: mat-light-theme(
  mat-palette($HDLS-Admin-theme-primary),
  $HDLS-Admin-theme-accent,
  $HDLS-Admin-theme-warn
);

// Define  a custom typography config
$heading-font-family: "'Work Sans', sans-serif";
$typography: mat-typography-config(
  $display-4: mat-typography-level(112px, $font-family: $heading-font-family),
  $display-3: mat-typography-level(56px, $font-family: $heading-font-family),
  $display-2: mat-typography-level(45px, $font-family: $heading-font-family),
  $display-1: mat-typography-level(34px, $font-family: $heading-font-family),
  $headline: mat-typography-level(24px, $font-family: $heading-font-family),
  $title: mat-typography-level(20px, $font-family: $heading-font-family),
);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

// Theme for notifications / snackbar
$notifications-theme: (
  default: #fff,
  info: mat-color(mat-palette($mat-blue), 400),
  success: mat-color(mat-palette($mat-green), 400),
  warning: mat-color(mat-palette($mat-yellow), 400),
  error: mat-color(mat-palette($mat-red), 400),
);
