<section class="login-popup">
  <div class="image">
    <div class="image-banner">
      <carousel
        [images]="images"
        [objectFit]="'cover'"
        [cellWidth]="'100%'"
        [autoplay]="true"
        [loop]="true"
        [freeScroll]="false"
      >
      </carousel>
    </div>
  </div>
  <div class="form">
    <form action="submit" method="post" [formGroup]="form">
      <div class="login-form" *ngIf="showLogin">
        <div *ngIf="showMessage" class="message" [ngClass]="status">
          {{ message }}
          <span class="closeErrorMsg" (click)="closeErrorMsg()">x</span>
        </div>
        <p class="header1">Login</p>
        <p class="header2">Login to your account</p>
        <mat-form-field appearance="outline">
          <mat-label>Enter your username</mat-label>
          <input
            matInput
            type="text"
            formControlName="username"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            (keydown.enter)="checkLogin($event)" 
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="actions">
          <!-- <span class="reset_password" id="resetPwd" (click)="forgotPassword()"
            >Forgot password?</span
          > -->
          <!-- <br /> -->
          <button
            mat-button
            class="sigin-cta"
            (click)="login()"
            [disabled]="loading"
          >
            Sign In
          </button>
         
        </div>
      </div>
    </form>

    <form action="submit" method="post" [formGroup]="enterPhoneNumberForm">
      
      <div class="forgot-password-ui" *ngIf="showResetPassword">
        <p class="header1">Reset password</p>
        <p class="header2">Enter your phone number to reset password</p>
        <mat-form-field appearance="outline">
          <mat-label>Enter Phone number</mat-label>
          <input
            matInput
            type="number"
            formControlName="forgotPhoneNumber"
            maxlength="10"
            size="10"
            required
          />
        </mat-form-field>
        <button
          mat-button
          class="send-otp-cta sigin-cta"
          (click)="sendOTP()"
          [disabled]="loading"
        >
          Send OTP
        </button>
      </div>
    </form>

    <form action="submit" method="post" [formGroup]="enterOTPForm">
      <div class="enter-otp-ui" *ngIf="showEnterOTP">
        <p class="header2">OTP sent to</p>
        <div class="otp-number">
          <p class="header1">{{ otp_phonenumber }}</p>
          <mat-icon (click)="editPhoneNumber()">edit</mat-icon>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Enter OTP</mat-label>
          <input
            matInput
            type="number"
            formControlName="otp"
            maxlength="6"
            size="6"
            required
          />
        </mat-form-field>
        <button mat-button class="send-otp-cta sigin-cta" (click)="verifyOTP()">
          Verify otp
        </button>
        <div class="resend-hint">
          Resend OTP in {{ counter | formatTime }}
          <button
            class="resend-btn"
            [disabled]="disableResendBtn"
            (click)="resendOTP()"
          >
            Resend OTP
          </button>
        </div>
      </div>
    </form>

    <form action="submit" method="post" [formGroup]="createNewPwdform">
      <div class="reset-password-ui" *ngIf="showCreateNewPassword">
        <p class="header1">Reset password</p>
        <p class="header2">Create new password</p>
        <div class="hori-field">
          <mat-form-field appearance="outline" class="first">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              required
              (input)="onPasswordEnter($event)"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('password')?.hasError('pattern')"
              >Enter a valid password</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input
              matInput
              type="password"
              formControlName="confirmPassword"
              required
              pattern="{{ password }}"
            />
            <mat-error *ngIf="form.get('confirmPassword')?.hasError('pattern')"
              >Passwords dont match</mat-error
            >
          </mat-form-field>
        </div>

        <div [hidden]="!showHints">
          <div class="password-hint">
            <mat-icon inline="true" class="{{ length ? 'green' : 'red' }}">{{
              length ? "done" : "close"
            }}</mat-icon>
            <span>minimum 8 characters length</span>
          </div>
          <div class="password-hint">
            <mat-icon inline="true" class="{{ uppercase ? 'green' : 'red' }}">{{
              uppercase ? "done" : "close"
            }}</mat-icon>
            <span>atleast 1 upper case</span>
          </div>
          <div class="password-hint">
            <mat-icon inline="true" class="{{ lowercase ? 'green' : 'red' }}">{{
              lowercase ? "done" : "close"
            }}</mat-icon>
            <span>atleast 1 lower case</span>
          </div>
          <div class="password-hint">
            <mat-icon inline="true" class="{{ numeric ? 'green' : 'red' }}">{{
              numeric ? "done" : "close"
            }}</mat-icon>
            <span>atleast 1 numeric character</span>
          </div>
        </div>
        <button
          mat-button
          class="send-otp-cta sigin-cta"
          (click)="createNewPwd()"
        >
          Create New Password
        </button>
      </div>
    </form>
  </div>
</section>
