@import "../../../theme/vars.scss";
#hdls-points-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  .hdls-points-form-feilds {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // gap: 10px;
    // padding: 5px;
  }
  img {
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
  }
}

// mat-card {
//   box-shadow: 0px 1px 5px 0px #ccc;
//   height: 300px;
//   min-width: 205px;
//   max-width: 205px;
// }

mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
