<section id="hdls-newmembership-container">
    <h3>Add New e-voucher | Membership Information</h3>
    <div class="new-membership-form-container"> 
        <form [formGroup]="newMembership">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>e-voucher Title *</mat-label>
                    <input matInput formControlName="title" type="text" name="title" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Description *</mat-label>
                    <textarea matInput formControlName="description" type="text" name="description"></textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Add Benefits</mat-label>
                    <mat-select>
                      <mat-option value="room">Room</mat-option>
                      <mat-option value="f&b">F&B</mat-option>
                      <mat-option value="facilities">Facilities</mat-option>
                      <mat-option value="market place/deal">Market place/Deal</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>E-vouchers Quantity</mat-label>
                    <input matInput formControlName="title" type="text" name="quantity" />
                  </mat-form-field>
            </div> 
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Upload E-vouchers Image</mat-label>
                    <input matInput formControlName="title" type="text" name="image" />
                  </mat-form-field>
                  </div>
            <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Is There Any Blockout Dates?</mat-label>
                        <mat-select>
                          <mat-option value="all days cant use">All Days Cant Use</mat-option>
                          <mat-option value="weekened cant use">Weekened Cant Use</mat-option>
                          <mat-option value="public holiday cant use">Public Holiday Cant Use</mat-option>
                          <mat-option value="selected dates cant use">Selected Dates Cant Use</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Expiry validity</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                              <input matStartDate placeholder="Start date">
                              <input matEndDate placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                          </mat-form-field>
                    </div>
                    <div>
                        <label>Transferable</label><br>
                        <mat-checkbox class="example-margin">Non Transferable</mat-checkbox>
                        <mat-checkbox class="example-margin">Transferable</mat-checkbox>

                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>E-voucher Actual Price(RM)*</mat-label>
                            <input matInput formControlName="title" type="text" name="price" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>E-voucher Points</mat-label>
                            <mat-select>
                              <mat-option value="no points">No Points</mat-option>
                              <mat-option value="dafault points">Dafault Points</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                    <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Want To Group-Up Existing Voucher?</mat-label>
                                <mat-select>
                                  <mat-option value="list from existing vouchers">List From Existing Vouchers</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    <div>
                            <mat-form-field appearance="fill">
                                <mat-label>E-voucher Selling Price(RM)*</mat-label>
                                <input matInput formControlName="title" type="text" name="selling price" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Conditions*</mat-label>
                                <input matInput formControlName="title" type="text" name="conditions" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-checkbox class="example-margin">Upgrade</mat-checkbox>
                        </div>
          
            <div>
                    <button mat-raised-button class="hdls-cancel-btn">Cancel</button>
                    <button mat-raised-button color="primary" class="hdls-nxt-btn">Save</button>
            </div>
        </form>
    </div>           
</section>