<section id="hdls-membership-container">
    <h3>Voucher and Days <button mat-raised-button color="primary" (click)="addRow()" [disabled]="isCheckAddValid==false">Add day</button> </h3>
    <div id="hdls-membership-list">
      <div class="hdls-product-list-section">
        <!-- <app-search-field></app-search-field> -->
        <table class="hdls-points-table">
          <thead>
            <tr>
              <th >
                Day
              </th>
              <th >Percentage</th>
              <th></th>
            </tr>
          </thead>
          
            <tbody>
              <tr *ngFor="let day of myDaysList;let i=index">
                <td>
                  {{day.day}}
                </td>
                <td>
                  <input type="number" min="1" [(ngModel)]="day.percent" name="percent" (change)="checkAddDayValid()">
                </td>
                <td>
                  <button mat-raised-button (click)="removeItem(i)"><mat-icon>delete</mat-icon></button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <div class="modal-action">
        <button mat-raised-button color="primary" (click)="applyVoucherDays()" [disabled]="isCheckAddValid==false">Apply</button>
        <button mat-raised-button color="secondary" (click)="closeModal()">Cancel</button>
      </div>
    </div>
  </section>
  