<div class="dm-add-product-section">
  <h2>Add Room <span class="dm-border"></span>Room Information</h2>
  <mat-progress-bar
    mode="determinate"
    value="{{ progressBarValue }}"
    class="dm-progress-bar"
  ></mat-progress-bar>

  <mat-stepper linear #stepper class="dm-stepper dm-tenant-add-product-stepper">
    <mat-step [stepControl]="firstFormGroup">
      <form
        [formGroup]="firstFormGroup"
        (submit)="saveRoom()"
        #myform="ngForm"
      >
        <mat-form-field class="dm-form-field" appearance="fill">
          <h4>Room Title<span class="required">*</span></h4>
          <input
            matInput
            formControlName="roomtitle"
            class="dm-form-input"
            placeholder="Room Title"
            required
          />
          <p
            class="dm-error"
            *ngIf="
              firstFormGroup.controls.roomtitle.invalid &&
              (firstFormGroup.controls.roomtitle.dirty ||
                firstFormGroup.controls.roomtitle.touched) &&
              myform.submitted
            "
          >
            Please fill the room name
          </p>
        </mat-form-field>
        <mat-form-field class="dm-form-field p-10" appearance="fill">
          <h4>Room Descriptions<span class="required">*</span></h4>
          <textarea
          matInput
            id="productDescriptionEditor"
            formControlName="roomsdesc"
          >
          </textarea>

          <p
            class="dm-error"
            *ngIf="
              firstFormGroup.controls.roomsdesc.invalid &&
              (firstFormGroup.controls.roomsdesc.dirty ||
                firstFormGroup.controls.roomsdesc.touched)
            "
          >
            Please fill the description
          </p>
        </mat-form-field>
        <mat-form-field class="dm-form-field" appearance="fill">
          <h4>Bed Type<span class="required">*</span></h4>
          <mat-select class="dm-form-select" formControlName="bedtype">
            <mat-option value="single">single bedroom</mat-option>
            <mat-option value="double">Double bedroom</mat-option>
            <mat-option value="extra">extra bedroom</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="dm-form-field" appearance="fill">
          <h4>Room Quantity<span class="required">*</span></h4>
          <mat-select class="dm-form-select" formControlName="totalrooms">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="adult-children-conatiner">
          <div class="product-details-card-description-inner-counter">
            <h3>Adults<span class="required">*</span></h3>
            <div class="span-container">
              <span
                ><button
                  (click)="removeItem('adults')"
                  class="product-details-card-description-inner-counter-button"
                >
                  -
                </button></span
              >
              <span
                class="product-details-card-description-inner-counter-value"
                >{{ adults }}</span
              >
              <span
                ><button
                  (click)="addItem('adults')"
                  class="product-details-card-description-inner-counter-button"
                >
                  +
                </button></span
              >
            </div>
          </div>
          <div class="product-details-card-description-inner-counter">
            <h3>Children<span class="required">*</span></h3>
            <div class="span-container">
              <span
                ><button
                  (click)="removeItem('childrens')"
                  class="product-details-card-description-inner-counter-button"
                >
                  -
                </button></span
              >
              <span
                class="product-details-card-description-inner-counter-value"
                >{{ childrens }}</span
              >
              <span
                ><button
                  (click)="addItem('childrens')"
                  class="product-details-card-description-inner-counter-button"
                >
                  +
                </button></span
              >
            </div>
          </div>
        </div>
        <section class="example-section" [formGroup]="toppings">
          <h4>Include</h4>
          <mat-checkbox
            formControlName="flammable"
            class="dm-checkbox"
            color="primary"
            >BreakFast</mat-checkbox
          >
          <mat-checkbox
            formControlName="liquid"
            class="dm-checkbox"
            color="primary"
            >Smoking Room</mat-checkbox
          >
          <mat-checkbox
            formControlName="battery"
            class="dm-checkbox"
            color="primary"
            >Extra Bed</mat-checkbox
          >
        </section>
        <mat-form-field class="dm-form-field" appearance="fill">
          <h4>Room Facilities<span class="required">*</span></h4>
          <mat-select class="dm-form-select" formControlName="room_facilities">
            <mat-option value="default">Default</mat-option>
            <mat-option value="facility1">Facility 1</mat-option>
            <mat-option value="facility2">Facility 2</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="dm-form-field" appearance="fill">
          <h4>Room Size<span class="required">*</span></h4>
          <input
            matInput
            formControlName="roomsize"
            class="dm-form-input"
            placeholder="Room dimensions"
            required
          />
          <p
            class="dm-error"
            *ngIf="
              firstFormGroup.controls.roomsize.invalid &&
              (firstFormGroup.controls.roomsize.dirty ||
                firstFormGroup.controls.roomsize.touched)
            "
          >
            Please fill the room size
          </p>
        </mat-form-field>
        <mat-form-field class="dm-form-field" appearance="fill">
          <h4>Primary Room Price (RM)<span class="required">*</span></h4>
          <input
            matInput
            formControlName="price"
            class="dm-form-input-width"
            placeholder="Room Price"
            required
          />

          <button
            class="product-details-card-description-inner-counter-button-height"
            (click)="addvalue()"
          >
            +
          </button>

          <p
            class="dm-error"
            *ngIf="
              firstFormGroup.controls.price.invalid &&
              (firstFormGroup.controls.price.dirty ||
                firstFormGroup.controls.price.touched) &&
              myform.submitted
            "
          >
            Please fill the room price
          </p>
        </mat-form-field>

        <mat-form-field class="dm-form-field" appearance="fill">
          <h4>Points<span class="required">*</span></h4>
          <mat-select class="dm-form-select" formControlName="points">
            <mat-option value="1">Default</mat-option>
            <mat-option value="2">Double Points</mat-option>
            <mat-option value="3">Public Points</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="dm-form-field" appearance="fill">
          <h4>Restrictions<span class="required">*</span></h4>
          <mat-select class="dm-form-select" formControlName="restrictions">
            <mat-option value="1">Public Holiday</mat-option>
            <mat-option value="2">Weekends</mat-option>
            <mat-option value="3">Selected Dates</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext class="dm-btn-secondary">
            Cancel
          </button>
          <button
            mat-button
            color="primary"
            [ngClass]="{
              'dm-btn-primary': firstFormGroup.valid,
              'dm-btn-disable': !firstFormGroup.valid
            }"
            (click)="saveRoom()"
          >
            save
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
