<section id="parent-container">
    <header>
        <app-navbar></app-navbar>
    </header>
    <section id="home-page-container">
        <div class="banner-detail-container">
            <h3 class="banner-txt">Thank you for registering <br>
                with us!</h3>
            <div class="celebration-div">
                <img src="../../../../assets/images/celebration.gif" alt="Thank you for registering with us" />
            </div>
        </div>
        <div class="signup-banner">
        </div>
    </section>
</section>