<section id="hdls-membership-container">

    <div class="hdls-header-search-section">
      <div class="hdls-search-section">
        <form (submit)="setSearchValue($event)" class="hdls-search-field">
          <input
            type="text"
            (change)="getSearchDetails($event)"
            matInput
            placeholder="Search"
          />
          <span>
            <a href="#" (click)="setSearchValue($event)">
              <img src="../../../assets/images/search.png" alt="Search" />
            </a>
          </span>
        </form>
      </div>
      <a class="add-button" routerLink="/facilities/add-facility">
        <span>Add Facility  </span>
        <img src="../../../assets/images/plus.png" alt="Add Facility" />
      </a>
    </div>

    <div id="hdls-membership-list">
      <div class="category-button">
        <a id="basic" class="add-button" [ngClass]="{ 'selected-item': selectedCategory === 'all' }"
          (click)="getSelectedFilter('all')">
          All
        </a>
        <a id="basic" class="add-button" [ngClass]="{ 'selected-item': selectedCategory === 'live' }"
          (click)="getSelectedFilter('live')">
          Live<span><!-- TODO--></span>
        </a>
        <a id="basic" class="add-button" [ngClass]="{ 'selected-item': selectedCategory === 'in_active' }"
          (click)="getSelectedFilter('in_active')">
          Inactive<span><!-- TODO--></span>
        </a>
        <a id="basic" class="add-button" [ngClass]="{ 'selected-item': selectedCategory === 'deleted' }"
          (click)="getSelectedFilter('deleted')">
          Deleted<span><!-- TODO--></span>
        </a>
      </div>
      <div class="hdls-product-list-section">
        <!-- <app-search-field></app-search-field> -->
        <table mat-table class="hdls-product-table" [dataSource]="dataSource"  matTableExporter>

          <ng-container matColumnDef="facility_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Facility Name
            </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="!element.isLoading">
                <div class="logo-container"><img [src]="element.coverimage" /></div>
                <div class="vouchertitle-container"> {{ element.facility_name }}</div>

              </div>
              <div *ngIf="element.isLoading" class="loading-data"></div>
            </td>
          </ng-container>
          <ng-container matColumnDef="facility_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Facility type
            </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="!element.isLoading">
                {{ element.facility_type | facilityType }}
              </div>
              <div *ngIf="element.isLoading" class="loading-data"></div>
            </td>
          </ng-container>

          <ng-container matColumnDef="facility_desc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Description
            </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="!element.isLoading">
                {{ element.description }}
              </div>
              <div *ngIf="element.isLoading" class="loading-data"></div>
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="property">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Hotel
            </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="!element.isLoading">
                {{ element.hotelmaster.hotelname }}
              </div>
              <div *ngIf="element.isLoading" class="loading-data"></div>
            </td>
          </ng-container>


          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Action
            </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="!element.isLoading">
                <!-- <a href="#">View</a> -->
                <a routerLink="edit-facility/{{element.id}}" >Edit</a>
                <a (click)="deleteFacility(element)">Delete</a>
              </div>
              <div *ngIf="element.isLoading" class="loading-data"></div>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row  *matRowDef="let row; columns: displayedColumns" class="hdls-table-row"></tr>
        </table>
        <table>

          <tr *ngIf="!dataSource.data.length">
            <td class="hdls-no-records-detail">No Records Found!</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"
          (page)="changePage($event)">
        </mat-paginator>
      </div>
    </div>

  </section>
