<section id="hdls-membership-container">
  <div class="search-section">
    <div class="hotel-details">
      <h3>{{hotelDetails?.hotelname}}</h3>
      <button color="accent" mat-raised-button class="mat-raised-button" (click)="viewQRCode()">View QR code</button>
    </div>
    <div class="add-product">
      <form (submit)="setSearchValue($event)" class="hdls-search-field">
        <input
          type="text"
          (change)="getSearchDetails($event)"
          matInput
          placeholder="Search"
        />
        <span>
          <a href="#" (click)="setSearchValue($event)">
            <img src="../../../assets/images/search.png" alt="search" />
          </a>
        </span>
      </form>
      <a id="basic" class="add-button" href="#" (click)="gotoLink($event)">
        <span>Create Room</span>
        <img src="../../../assets/images/plus.png" alt="add" />
      </a>
    </div>
    <!-- <div class="download-section">
      <app-hdls-date-range
        (getDateRange)="getDateRange($event)"
      ></app-hdls-date-range>
      <div class="download-button">
        <a href="#"
          ><img src="../../../assets/images/download.png" alt="download"
        /></a>
      </div>
    </div> -->
  </div>
  <div id="hdls-membership-list">
    <div class="category-button">
      <a
        id="basic"
        class="add-button"
        [ngClass]="{ 'selected-item': selectedCategory === 'all' }"
        (click)="getSelectedFilter('all')"
      >
        All
      </a>
      <a
        id="basic"
        class="add-button"
        [ngClass]="{ 'selected-item': selectedCategory === 'live' }"
        (click)="getSelectedFilter('live')"
      >
        Live<span><!-- TODO--></span>
      </a>
      <a
        id="basic"
        class="add-button"
        [ngClass]="{ 'selected-item': selectedCategory === 'in_active' }"
        (click)="getSelectedFilter('in_active')"
      >
        Inactive<span><!-- TODO--></span>
      </a>
      <a
        id="basic"
        class="add-button"
        [ngClass]="{ 'selected-item': selectedCategory === 'deleted' }"
        (click)="getSelectedFilter('deleted')"
      >
        Deleted<span><!-- TODO--></span>
      </a>
    </div>
    <div class="hdls-product-list-section">
      <!-- <app-search-field></app-search-field> -->
      <table
        mat-table
        class="hdls-product-table"
        [dataSource]="dataSource"
        matTableExporter
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Room Name</th>
          <td mat-cell *matCellDef="let element">
            <p *ngIf="!element.loading">
              {{ element.roomtitle }}
            </p>
            <div *ngIf="element.loading" class="loading-data"></div>
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Room Type</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="!element.loading">
              {{ element.bedtype }}
            </div>
            <div *ngIf="element.loading" class="loading-data"></div>
          </td>
        </ng-container>

        
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Room Price</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="!element.loading">
              {{ element.price }}
            </div>
            <div *ngIf="element.loading" class="loading-data"></div>
          </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Room Quantity
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.totalrooms }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
            {{ element.inactive === 1 ? 'Active' : element.in_active === 2 ? 'Inactive' : 'Deleted'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="availability">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
            <button (click)="viewSchedule(element)" color="primary" mat-raised-button class="mat-raised-button">View schedule</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let element">
            <a href="#" (click)="gotoEditLink($event, element.roomsid)">Edit</a>
            <a href="#" (click)="deleteRoom($event, element.roomsid)">Delete</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="hdls-table-row"
        ></tr>
      </table>
      <table>
        <tr *ngIf="!dataSource.data.length">
          <td class="hdls-no-records-detail">No Records Found!</td>
        </tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"

      >
      </mat-paginator>
    </div>
  </div>
</section>
