@import "../../../theme/vars.scss";

.hdls-choose-property {
  .hdls-property-select {
    .mat-form-field-wrapper {
      width: 100%;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    width: 380px;
    margin: 10px 0;
    background-color: $secondary-font-color;
    border: 2px solid #ddd;
    border-radius: 5px;
    
  }
}
.search-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  .add-product {
    display: flex;
    flex-direction: row;
    align-items: center;

    .hdls-search-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px 10px;
      width: 380px;
      margin: 10px 0;
      background-color: $secondary-font-color;
      border: 2px solid #ddd;
      border-radius: 5px;
      input {
        border: none;
        height: 30px;
        width: 100%;
        padding-left: 5px;
        font-size: 20px;
        &:hover,
        &:focus {
          outline: none;
        }
      }
    }
    .add-button {
      height: 47px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $primary-background-color;
      color: #fff;
      font-size: 18px;
      margin: 0 10px;
      padding: 1px 25px;
      border-radius: 5px;
      border: none;
      text-decoration: none;
      span {
        margin-right: 10px;
      }
    }
  }
  .download-section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    .download-button {
      padding: 0 10px;
      border-radius: 5px;
      margin-left: 10px;
      display: flex;
      align-items: center;
    }
  }
}

::ng-deep .mat-form-field-wrapper {
  width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .hdls-transaction-container {
    width: 100%;
    overflow-x: auto;
  .transaction-id-column {
    min-width: 120px;
  }
  .service-category-column {
    min-width: 180px;
  }
  .place-column {
    min-width: 150px;
  }
  .membership-number-column {
    min-width: 140px;
  }
  .member-name-column {
    min-width: 200px;
  }
  .date-column {
    min-width: 130px;
  }
  .time-column {
    min-width: 110px;
  }
  .total-amount-column {
    min-width: 140px;
  }
  .member-points-charge-column {
    min-width: 170px;
  }
  .points-issuance-charge-column {
    min-width: 170px;
  }
  .member-spend-commission-column {
    min-width: 170px;
  }
  .membership-package-commission-column {
    min-width: 200px;
  }
  .status-column {
    min-width: 110px;
  }
  .settled-date-column {
    min-width: 130px;
  }
}


.hdls-filter {
    .hdls-hotel-filter {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        .hdls-search-btn {
            width: 150px;
            padding: 15px;
            font-size: 16px;
            border: 1px solid #ccc;
            background-color: #3f51b5;
            color: #fff;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
        }
        .hdls-hotel-filter-date {
            width: 100%;
            max-width: 300px;
            margin: 10px 0;
            .mat-form-field-wrapper {
                background-color: red;
                .mat-form-field-flex {
                    .mat-form-field-infix {
                        display: flex !important;
                    }
                }
            }
        }
        .hdls-form-field {
            margin-top: 15px;
        }
    }
}